.product_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a,
a:hover {
  text-decoration: none !important;
}

.ban_img {
  height: 450px;
  width: auto;
  object-fit: cover;
}